@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: absolute;
  max-width: 1200px;
  width: 100%;
}

.nav__container {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
}

.nav__logo {
  width: 160px;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  max-width: 200px;
  top: 50px;
  margin-left: 8px;
}

.nav__links {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
}

.footer__link {
  padding: 0 8px;
}

.footer__logo--img {
  width: 160px;
}

.footer__logo {
  display: flex;
}

.slideshow__container {
    position: relative;
    max-width: 100vw;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slideshow__img {
    width: 100%;
    height: 600px;
}

.slideshow__container {
    position: relative;
    max-width: 100vw;
    margin: auto;
}