@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}

nav {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  height: 100%;
  width: 100%;
}

button {
  background: none;
  border: none;
  color: #242424;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  margin-right: 20px;
  position: relative;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  transform: scale(1.1);
  color: #5a2ebc; 
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  max-width: 200px;
  top: 50px;
  transform: translateY(20%);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: -40px;
  left: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.nav__links {
  display: flex;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;  
  flex-direction: column;
}

.footer__links {
  display: flex;
  padding: 0 12px;
  margin-bottom: 20px;
}

.footer__link {
  padding: 0 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer__link:hover {
  transform: scale(1.1);
  color: #5a2ebc; 
}

.footer__logo--img {
  width: 100%;
  height: 100%;
}

.footer__logo {
  display: flex;
  height: 150px;
  width: 150px;
}

.slideshow__container {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    height: 600px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
  left: 5%
}

.next {
  right: 5%
}

.slideshow__img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow__img.active {
  opacity: 1;
  z-index: 1;
}

footer {
  height: 156px;
}

.why__choose--container {
  width: 50%;
  margin: 40px 20px;
}

.why__choose--container h1 {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 40px;
}

.why__choose--container p {
  font-weight: 600;
  margin-bottom: 16px;
  margin-right: 100px;
  font-size: 18px;
}

.why__choose--container li {
  margin: 10px 0;
}

.why__choose--container ul {
  margin-left: 15px;
}

.purple {
  color: #7342d6;
}
